* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #E02A57;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}

.conteudo {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0 auto;
}

.titulo {
    font-size: 48px;
    margin: 56px 0 24px;
    color: #333333;
    font-weight: bold;
}

.subtitulo {
    font-size: 19px;
    font-weight: bold;
    color: #333333;
    margin: 0 0 11px;
}

.primeiro-texto {
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    margin: 0 0 16px;
}

.formulario {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.nome-completo {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    margin: 0 0 8px;
}

.input-name {
    border-radius: 8px;
    margin: 0 0 8px;
    padding: 0 8px;
    height: 42px;
}

.texto-email {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    margin: 0 0 8px;
}

.input-email {
    border-radius: 8px;
    margin: 0 0 8px;
    padding: 0 8px;
    height: 42px;
}

.texto-celular {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    margin: 0 0 8px;
}

.input-celular{
    border-radius: 8px;
    margin: 0 0 8px;
    padding: 0 8px;
    height: 42px;
}

.texto-data {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    margin: 0 0 8px;
}

.input-data {
    border-radius: 8px;
    margin: 0 0 8px;
    padding: 0 8px;
    height: 42px;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}

.texto-secundario {
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 8px;
}

.checkbox {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
}

.terceiro-texto {
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    margin: 16px 0 16px;
}

button {
    font-weight: 600;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    border: 2px solid #E02A57;
    padding: 0 24px;
    height: 42px;
    background-color: #E02A57;
    width: 96px;
}

button:hover {
    background-color: white;
    color: #E02A57;
    cursor: pointer;
}